
<%= render "shared/nav" %>

<h1>View Reservations</h1>

<%= link_to 'New Reservation', new_reservation_url %>
<br>
<br>


<table>
  <tr>
  	<th>ID</th>
    <th>Date/Time</th>
    <th>Party Size</th>
    <th> User </th>
    <th></th>
    <th></th>
  </tr>

<% @reservations.each do |reservation| %>
  <tr>
  	<td><%= reservation.id %></td>
    <td><%= reservation.datetime %></td>
    <td><%= reservation.party_size %></td>
    <td><%= link_to 'Show', reservation %></td>
    <td><%= link_to 'Edit', edit_reservation_path(reservation) %></td>
    <td><%= link_to 'Destroy', reservation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>




<p> </p>

